.authPageWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.content {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding-inline: 48px;

    button {
        width: 256px;
        margin-inline: auto;
    }

    p {
        line-height: 1.2;
    }
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.appName {
    font-size: 6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 32px;
    background: linear-gradient(90deg, #4169e1, #8a2be2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    .appNameIcon {
        fill: url(#app-name-gradient);
    }
}

.login {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

