.fileUploadPopup {
    position: fixed;
    bottom: -100%;
    opacity: 0;
    left: 32px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 12px;
    max-width: 420px;
    width: 100%;
    transition: bottom 0.3s ease-in-out, opacity 0.6s ease-out;

    &.visible {
        bottom: 32px;
        opacity: 1;
    }
}

.content {
    max-height: 360px;
    overflow: auto;
    height: 0;

    &.expanded {
        height: auto;
    }
}

.fileUploadPopup.expanded {
    .content {
        height: auto;
    }
}

