$pinnedItemCardWidth: 250;

.pinnedItemCard {
    width: $pinnedItemCardWidth + 0px;
    background-color: var(--accent-color-opaque);
    border-radius: 10px;
    padding: 30px 25px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    font-size: 18px;

    cursor: pointer;
}

:export {
    pinnedItemCardWidth: $pinnedItemCardWidth;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

