$pinnedItemCardWidth: 250;

.pinnedItemCard {
    width: $pinnedItemCardWidth + 0px;
    height: 130px;
    background-color: var(--accent-color-opaque);
    border-radius: 10px;
    padding: 30px 25px;
}

:export {
    pinnedItemCardWidth: $pinnedItemCardWidth;
}
