.currentUserContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.usernameWrapper {
    margin-inline-end: 15px;
}

.avatar {
    width: 48px;
    height: auto;
    border-radius: 50%;
}

