@use "@/assets/sass/abstracts";

.userEntryWrapper {
    display: grid;
    grid-template-columns: 1fr auto;
}

.userInfoWrapper {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.userAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.userEmail {
    font-weight: abstracts.$typography-fw-light;
    color: var(--text-color);
}

