@use "@/assets/sass/abstracts";

.browseSectionWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    font-weight: abstracts.$typography-fw-bold;
    font-size: abstracts.$typography-font-lg;
    margin-inline-end: 10px;
}

.headerWrapper {
    margin-bottom: 15px;
}

.breadcrumbsWrapper {
    margin-bottom: 15px;
    font-size: abstracts.$typography-font-md;
}

.contentsTableWrapper {
    flex-grow: 1;
}

